/* Board */
#chess-board {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.file {
  width: 100%;
  height: 12.5%;
  display: flex;
}

.file:nth-child(even) .square:nth-child(odd),
.file:nth-child(odd) .square:nth-child(even) {
  background-color: green;
}

.file:nth-child(even) .square:nth-child(even),
.file:nth-child(odd) .square:nth-child(odd) {
  background-color: lightgreen;
}

.square {
  width: 100px;
  height: 100%;

}

/* Pieces */
.piece {
  width: 100%;
  height: 100%;
  cursor: grab;
}

.grabbable {
  cursor: grabbable;
}

.grab:active {
  cursor: grabbing;
}

/* Effects */
.hovered {
  z-index:1;
  border: aliceblue solid 3px;
  box-sizing: border-box;
}